  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden{
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border:0;
      padding: 0;
      white-space:nowrap;
      clip-path:inset(100%);
      clip: rect(0 0 0 0);
      overflow:hidden;
  }
  html{
      box-sizing:border-box;
  }
  
  *,
  *::before,
  *::after{
      box-sizing: inherit;
      margin: 0;
  }
  img {
    display: block;
    width: 420px;
    height: 280px;
  }
  
  body {
    color: #626262;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family:'Playfair Display', serif;
  }

  .section {
    padding-bottom: 70px;
  }
  
  header {
    font-size: 0;
    text-align: center;
    padding: 76px 164px 102px 164px;
  }
  
  nav {
    display: inline-block;
    width: 570px;
    text-align: center;
    font-size: 0px;
  }

  .menu {
    list-style: none;
    font-size: 0;
    padding: 0;
  }

  .menu li {
    display: inline-block;
    padding: 0;
    text-align: left;
  }
  .menu li:not(:last-child) {
    margin-right: 105px;
  }
  
  .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  
  a:hover, a:focus, .load-more-button:hover {
    color: #03a9f4;
  }
  
  .blog {
    padding: 0;
    font-size: 0px;
  }
  
  .blogpost {
    display: inline-block;
    width: 420px;
    margin-bottom: 130px;

  }
  .blogpost:nth-child(2n) {
    margin-left: 60px;
  }

  .image {
    margin-bottom: 32px;
  }
  
  .category {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0 28px 0;
  }
  
  .title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 28px;
  }
  
  .text {
    font-size: 14px;
    line-height: 24px;
  }
  
  .load-more-button {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    width: 164px;
    height: 60px;
    background-color: #ffffff;
    font-family: serif;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px solid #626262;
    color: #626262;
    cursor: pointer;
  }
  