.menu {
  @extend %list;
  width: 611px;
  height: 36px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;

  &__link {
    @extend %link;
    text-transform: uppercase;
    font-family: $main-font;
    color: $primary-white-color;
    font-size: 14px;
    line-height: 1;
    height: 16px;
    padding-bottom: 20px;
    border-bottom: 3px solid transparent;
    -webkit-transition-property: color, border-color;
    -o-transition-property: color, border-color;
    transition-property: color, border-color;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;

    &:hover {
      color: $focus-color-yellow;
      border-color: $focus-color-yellow;
    }

    &--cart svg,
    &--search svg {
      width: 18px;
      height: 18px;
      fill: $primary-white-color;
      margin: 0;
    }

    &--cart:hover svg,
    &--search:hover svg {
      fill: $focus-color-yellow;
    }
  }
}

