.welcome-section {
    width: 820px;
    height: 544px;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: $primary-white-color;

    &__greeting {
        font-size: 70px;
        display: block;
        margin: 0 0 60px;
        font-family: $italic-font;
    
        &--big {
            @extend %big-font;
            font-size: 140px; 
            line-height: 1;   
            margin: 0 0 120px;
            text-transform: uppercase;
        }
    }
}




