.wrapper {
    max-width: 1920px;
    padding-bottom: 150px;
    background: 
    -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.85)), to(rgba(243, 129, 129, 0.85))), 
    url('../images/team/banner-img@1X.png') no-repeat center;
    background: 
    -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.85) 0%, rgba(243, 129, 129, 0.85) 100%), 
    url('../images/team/banner-img@1X.png') no-repeat center;
    background: 
    -o-linear-gradient(bottom, rgba(252, 227, 138, 0.85) 0%, rgba(243, 129, 129, 0.85) 100%), 
    url('../images/team/banner-img@1X.png') no-repeat center;
    background: 
    linear-gradient(to top, rgba(252, 227, 138, 0.85) 0%, rgba(243, 129, 129, 0.85) 100%), 
    url('../images/team/banner-img@1X.png') no-repeat center;
    background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .wrapper {
    background: 
    -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.85)), to(rgba(243, 129, 129, 0.85))),
    url('../images/team/banner-img@2X.png') no-repeat;
    background: 
    -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.85) 0%, rgba(243, 129, 129, 0.85) 100%),
    url('../images/team/banner-img@2X.png') no-repeat;
    background: 
    -o-linear-gradient(bottom, rgba(252, 227, 138, 0.85) 0%, rgba(243, 129, 129, 0.85) 100%),
    url('../images/team/banner-img@2X.png') no-repeat;
    background: 
    linear-gradient(to top, rgba(252, 227, 138, 0.85) 0%, rgba(243, 129, 129, 0.85) 100%),
    url('../images/team/banner-img@2X.png') no-repeat;
    background-size: cover;
  }
}