$primary-white-color: #ffffff;
$focus-color-yellow: #fce38a;
$focus-color-pink: #f38181;
$theme-color-blue: #95e1d3;
$description-color: #999999;
$border-color: #bbb5b5;

$italic-font: 'Kaushan Script', cursive;
$main-font: 'Montserrat', sans-serif;
