.nav {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding: 20px 0;
  background-color: #963f3d;
}

.link {
  text-decoration: none;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}
.active {
  color: #e39392;
}
